# Dependencies
node_modules/

# Bun
bun.lock

# Database
*.db
*.db.backup

# Build output
dist/
build/

# Docs
docs/

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Logs
*.log
npm-debug.log*

# Environment
.env
.env.local
.env.*.local

# Skills folders
.mcpjam/
.mux/
.roo/
.adal/
.claude/
.qwen/
skills/
.continue/
.agent/
.kiro/
.trae/
.goose/
.iflow/
.pi/
.openhands/
.agents/
.pochi/
.vibe/
.kilocode/
.windsurf/
.commandcode/
.cortex/
.junie/
.codebuddy/
.kode/
.factory/
.neovate/
.augment/
.zencoder/
.qoder/
.crush/
